<!doctype html>
<html lang="en" ng-app="AngularFlask">

	<head>

		<meta charset="utf-8">
		<title>HealthForge API Test</title>

		<!--Bootstrap CSS-->
		<link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.css">
		<link rel="stylesheet" href="/static/css/main.css">
		<link rel="stylesheet" href="/static/css/ng-table.css"> <!-- This is a modified version! -->

		<!--Angular JS-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-resource.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.1/angular-route.js"></script>

		<!--ng-Table-->
		<script src="https://unpkg.com/ng-table@2.0.2/bundles/ng-table.min.js"></script>

		<!--Angular Scripts-->
		<script src="/static/js/app.js"></script>

		<!--jQuery and Bootstrap Scripts-->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

	</head>

	<body>

		<!--Nav Bar-->
		<nav class="navbar navbar-inverse">
			<h3 class="navbar-text">HealthForge API Test</h3>
		</nav>

		<div class="container page">

			<!--Removed view as controller didn't work in partial template-->
			<div id="content" class="container main">

				<!--Div for Table-->
				<div ng-controller="TableController">
					<table ng-table="tableParams" class="table table-bordered" show-filter="true">
						<tr style="cursor:pointer;" ng-repeat="patient in $data" ng-click="getPatient(patient)">
							<td  data-title="'Title'" sortable="'prefix'" filter="{prefix: 'text'}">{{patient.prefix}}</td>
							<td data-title="'First Name'" sortable="'firstName'" filter="{firstName: 'text'}">{{patient.firstName}}</td>
							<td data-title="'Last Name'" sortable="'lastName'" filter="{lastName: 'text'}">{{patient.lastName}}</td>
							<td data-title="'Gender'" sortable="'gender'" filter="{gender: 'text'}">{{patient.gender === 'F' ? 'Female' : 'Male'}}</td>
							<td data-title="'Date of Birth'" sortable="'dateOfBirth'" filter="{dateOfBirth: 'text'}">{{patient.dateOfBirth | date: 'dd/MM/yyyy'}}</td>
						</tr>
					</table>
				</div>
				<!--End of table controller-->

			</div> 
			<!-- End of Main Content -->

			<hr>
		</div>

	</body>

</html>